@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap');

@import "tailwindcss";

body {
    font-family: 'Space Grotesk', 'sans-serif';

}

#progress {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: teal;
    transform-origin: 0 50%;
    animation: growProgress linear;
    animation-timeline: scroll();
    z-index: 500;

}

@keyframes growProgress {
    from {
        transform: scaleX(0);

    }

    to {
        transform: scaleX(1);
    }
}


.animation-work {
    animation: headingMask linear both;
    animation-timeline: view();
    animation-range: entry 0% 65%;

}

@keyframes headingMask {
    0% {
        opacity: 0;
        transform: translateY(90px) scale(.75);
        letter-spacing: 18;
        filter: blur(5px);
    }

    65% {
        transform: translateY(-8px) scale(1.03);

    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
        letter-spacing: 0;
        filter: blur(0);
    }

}

.project-card {
    animation: projectReveal linear both;
    animation-timeline: view();

}

.project-card:nth-child(1) {
    animation-range: entry 0% cover 25%;
}

.project-card:nth-child(2) {
    animation-range: entry 10% cover 28%;
}

.project-card:nth-child(3) {
    animation-range: entry 20% cover 31%;
}

.project-card:nth-child(4) {
    animation-range: entry 30% cover 34%;
}




@keyframes projectReveal {
    from {
        opacity: 0;
        transform: perspective(1600px) rotateY(35deg) rotateX(25deg) translateY(150px) scale(0.55);
        filter: blur(10px);
    }

    60% {
        transform: perspective(1600px) rotateY(-5deg) scale(0.90);

    }

    to {
        opacity: 1;
        transform: perspective(1600px) rotateY(0) rotateX(0) translateY(0) scale(1);
        filter: blur(0);
    }

}

.skills-animate {
    animation: headingMask linear both;
    animation-timeline: view();
    animation-range: entry 0% 65%;
}

.Project-skillCard {
    animation: projectRevealSkill linear both;
    animation-timeline: view();
    animation-range: entry 0% 35%;

}

@keyframes projectRevealSkill {
    from {
        opacity: 0;
        transform: perspective(500px) rotateY(35deg) rotateX(25deg) translateY(150px) scale(0.55);
        filter: blur(10px);
    }

    60% {
        transform: perspective(500px) rotateY(-5deg) scale(0.90);
    }

    to {
        opacity: 1;
        transform: perspective(1600px) rotateY(0) rotateX(0) translateY(0) scale(1);
        filter: blur(0);

    }



}

.aboutImageAnimate {
    animation: aboutImage linear both;
    animation-timeline: view();
    animation-range: entry 10% cover 50%;

}

@keyframes aboutImage {
    from {
        opacity: 0;
        transform: perspective(1400px) rotateY(-35deg) scale(.75);
        clip-path: circle(0%);
        filter: blur(10px);
    }

    to {
        opacity: 1;
        transform: perspective(1400px) rotateY(0) scale(1);
        clip-path: circle(100%);
        filter: blur(0);
    }

}

.aboutTextAnimate {
    animation: aboutText linear both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@keyframes aboutText {

    from {
        opacity: 0;
        transform: translateX(120px) scale(.9);
        filter: blur(10px);
    }

    to {
        opacity: 1;
        transform: translateX(0) scale(1);
        filter: blur(0);
    }

}


.aboutBoxesAnimate {
    animation: aboutBoxes linear both;
    animation-timeline: view();

}

.aboutBoxesAnimate:nth-child(1) {
    animation-range: entry 0% cover 25%;

}

.aboutBoxesAnimate:nth-child(2) {
    animation-range: entry 10% cover 35%;

}

.aboutBoxesAnimate:nth-child(3) {
    animation-range: entry 20% cover 45%;

}


.aboutBoxesAnimate:nth-child(4) {
    animation-range: entry 30% cover 55%;

}

@keyframes aboutBoxes {

    from {
        opacity: 0;
        transform: perspective(500px) rotateY(35deg) rotateX(25deg) translateY(150px) scale(0.55);
        filter: blur(10px);
    }

    60% {
        transform: perspective(500px) rotateY(-5deg) scale(0.90);
    }

    to {
        opacity: 1;
        transform: perspective(1600px) rotateY(0) rotateX(0) translateY(0) scale(1);
        filter: blur(0);

    }



}


h1,
h2,
h3,
h4 {
    font-family: "Orbitron", sans-serif;

}

@keyframes float {

    0%,

    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-20px);
    }

}

.floating {
    animation: float 5s ease-in-out infinite;
}

.font-orbitron {
    font-family: "Orbitron";
}